@using Diamond.Models.Factory
@model Part
@{
    ViewData["Title"] = "Добавление плана";
}

<form method="post">
    <input type="submit" value="Назад"
           asp-controller="Part"
           asp-action="List"
           asp-route-Id="@ViewBag.FactoryId"
        formmethod="get"
        formnovalidate/>
    <input id="bAdd" type="submit" value="Добавить" disabled/>
    <input id="factoryId" type="number" value="@ViewBag.FactoryId" asp-for="@Model.FactoryId" hidden readonly/>
    <input id="materialId" type="number" asp-for="@Model.MaterialId" hidden readonly/>
    
    <p>Продукция
        <select id="selectProduct"
            asp-for="@Model.ProductId"
                asp-items="@(new SelectList(ViewBag.Products, "Id", "GetNameAndCount"))"
            onchange="ProductIsSelected(factoryId.value, value)"
            required>
            <option value="0">Отсутствует</option>
        </select></p>
    <p>К какому сроку надо выполнить
        <input 
            type="datetime-local" 
            asp-for="@Model.ComingSoon"
            min="@DateTime.Now.ToLocalTime().ToString("yyyy-MM-ddTHH:mm")"
            required/></p>
    <p id="selectRouteBlock">Маршрут
        <select
            id="selectRoute" 
            asp-for="@Model.RouteId"
            onchange="RouteIsSelected(this.value, selectProduct.value)"
            required>
            <option value="0">Отсутствует</option>
        </select></p>
    <p id="maxSizeBlock">Максимальный размер<input id="maxSize" type="number" readonly/></p>
    <p id="selectSizeBlock">Выбранный размер
        <input id="selectSize"
            asp-for="@Model.Size"
            id="selectSize"
            type="number"
            value="0"
            min="0"
            onchange="SizeWasUpdate(value)"
            required/></p>
</form>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            document.getElementById("selectRouteBlock").style.display = 'none';
            document.getElementById("maxSizeBlock").style.display = 'none';
            document.getElementById("selectSizeBlock").style.display = 'none';
        });
        function ProductIsSelected(factoryId, productId) {
            if (productId == 0)
            {
                document.getElementById("bAdd").setAttribute('disabled', 'disabled');
                document.getElementById("selectRouteBlock").style.display = 'none';
                document.getElementById("maxSizeBlock").style.display = 'none';
                document.getElementById("selectSizeBlock").style.display = 'none';
                return;
            }
            $.ajax({
                url: '@Url.Action("GetRoutesAndMaterailId", "Part")',
                type: 'GET',
                data: { factoryId, productId },
                success: function (data) {
                    document.getElementById("selectRouteBlock").style.display = 'block';
                    document.getElementById("maxSizeBlock").style.display = 'none';
                    document.getElementById("selectSizeBlock").style.display = 'none';
                    const el = document.getElementById("selectRoute");
                    el.replaceChildren();
                    
                    // Обязательный элемент
                    const newDefaultOption = document.createElement('option');
                    newDefaultOption.setAttribute('value', 0);
                    newDefaultOption.setAttribute('label', 'Отсутствует');
                    el.appendChild(newDefaultOption);
                    
                    // Остальные элементы
                    for (i = 0; i < data.routesContent.length; ++i)
                    {
                        const newOption = document.createElement('option');
                        newOption.setAttribute('value', data.routesId[i]);
                        newOption.setAttribute('label', data.routesContent[i]);
                        el.appendChild(newOption);
                    }
                    document.getElementById("materialId").value = data.materialId;
                }
            });
        }
        function RouteIsSelected(routeId, productId) {
            if (routeId == 0)
            {
                document.getElementById("maxSizeBlock").style.display = 'none';
                document.getElementById("selectSizeBlock").style.display = 'none';
                document.getElementById("selectSize").setAttribute('value', 0);
                SizeWasUpdate(0);
                return;
            }
            $.ajax({
                url: '@Url.Action("GetVolumeRoute", "Part")',
                type: 'GET',
                data: { routeId, productId },
                success: function (data) {
                    document.getElementById("maxSizeBlock").style.display = 'block';
                    document.getElementById("selectSizeBlock").style.display = 'block';
                    document.getElementById("maxSize").value = data.maxSize;
                    document.getElementById("selectSize").setAttribute('max', data.maxSize);
                    document.getElementById("selectSize").setAttribute('value', data.maxSize);
                    SizeWasUpdate(data.maxSize);
                }
            });
        }
        function SizeWasUpdate(value)
        {
            if (value > 0)
                document.getElementById("bAdd").removeAttribute("disabled");
            else
                document.getElementById("bAdd").setAttribute('disabled', 'disabled');
        }
    </script>
}