@model List<Diamond.Models.Request>
@{
    ViewData["Title"] = $"Список заявок";
}

<input type="button" onclick="location.href='@Url.Action("Create", "Request")'" value="Добавить"/>

<h1>Список заявок</h1>
<table class="table table-bordered">
    <tr>
        <td>Номер</td>
        <td>Содержание</td>
        <td>Количество</td>
        <td>Дата поступления заявки</td>
        <td>Дата принятия</td>
        <td>Дата желаемого выполнения</td>
        <td>Статус</td>
        <td></td>
    </tr>
    @foreach (var reqeust in Model){
        <tr>
            <td>@reqeust.Id</td>
            <td>@($"{reqeust.Product.ProductGroup.Name} - {reqeust.Product.Size} гр.")</td>
            <td>@reqeust.Count</td>
            <td>@reqeust.GetDateOfReceiptLocal</td>
            <td>@reqeust.GetDateOfAcceptanceLocal</td>
            <td>@reqeust.DateOfDesiredComplete.ToString("dd.MM.yyyy")</td>
            <td>@Html.DisplayFor(l=>l.Where(r=>r.Id == reqeust.Id).First().Status)</td>
            <td><a asp-controller="Request" asp-action="Detail" asp-route-requestId="@reqeust.Id" class="btn btn-primary">Рассмотреть</a></td>
        </tr>
    }
</table>