@using Diamond.Models.Factory
@model Downtime
@{
    ViewData["Title"] = $"Простаивание участка \"{Model.Region.Name}\"";
}

<form method="post">
    <div>
        <input type="submit" value="Назад" asp-controller="Region" asp-action="Edit" asp-route-Id="@Model.RegionId" formnovalidate/>
        <input type="submit" value="Сохранить" />
        <input type="submit" value="Закончить сейчас" asp-action="StopNow" formnovalidate />
    </div>
    <input type="number" asp-for="@Model.RegionId" value="@Model.RegionId" readonly hidden />
    <input type="number" asp-for="@Model.Id" value="@Model.Id" readonly hidden />
    <p>Начало простоя
        <input id="dStart"
               type="datetime-local"
               asp-for="@Model.DowntimeStart"
               value="@Model.DowntimeStart.ToLocalTime().ToString("yyyy-MM-ddTHH:mm")"
               onchange="dStartWasUpdate(value, dFinish.value)"
               readonly />
    </p>
    <p>Конец простоя
        @{
            string? str = Model.GetDowntimeFinishLocal?.ToString("yyyy-MM-ddTHH:mm");
            string? str1 = DateTime.Now.ToLocalTime().ToString("yyyy-MM-ddTHH:mm");
            string? str2 = DateTime.Now.ToLocalTime().ToString("yyyy-MM-ddTHH:mm");
            <input id="dFinish"
                   type="datetime-local"
                   asp-for="@Model.DowntimeFinish"
                   value="=@Model.DowntimeStart.ToLocalTime().ToString("yyyy-MM-ddTHH:mm")"
                   
                   onchange="dFinishWasUpdate(dStart.value, value)"
                   required />
        }
    </p>
    <p>Продолжительность (мин.)
        <input id="dDuration"
               type="number"
               asp-for="@Model.DowntimeDuration"
               value="@(Model.DowntimeFinish == null ? "" : Model.DowntimeDuration)"
               min="1"
               onchange="dDurationWasUpdate(dStart.value, value)" 
               required/>
    </p>
    <p>Причина
        <input type="text"
               asp-for="@Model.DowntimeReason"
               value="@Model.DowntimeReason"/>
    </p>
</form>

@section Scripts
{
    <script>
        function dFinishWasUpdate(dtStart, dtFinish)
        {
            $.ajax({
                url: '@Url.Action("GetDuration", "Downtime")',
                type: 'GET',
                data: { dtStart, dtFinish },
                success: function (data) {
                    document.getElementById("dDuration").value = data.value;
                    document.getElementById("dStart").setAttribute('max', dtFinish);
                }
            });
        }
        function dDurationWasUpdate(dtStart, Duration)
        {
            $.ajax({
                url: '@Url.Action("GetDtFinish", "Downtime")',
                type: 'GET',
                data: { dtStart, Duration },
                success: function (data) {
                    document.getElementById("dFinish").value = data.value;
                    document.getElementById("dStart").setAttribute('max', data.value);
                }
            });
        }
        function dStartWasUpdate(dtStart, dtFinish)
        {
            const min = document.getElementById("dStart").value;
            document.getElementById("dFinish").setAttribute('min', min);
            dFinishWasUpdate(dtStart, dtFinish);
        }
    </script>
}