@using Diamond.Models.Factory
@model Plan
@{
    ViewData["Title"] = "Изменение плана";
}

<form method="post">
    <input type="submit" value="Сохранить"/>
    <input type="number" value="@Model.FactoryId" asp-for="@Model.FactoryId" hidden readonly/>

    <p>Продукция<input type="text" value="@ViewBag.ProductName" readonly/></p>
    <p>К какому сроку надо выполнить
        <input
            value="@Model.ComingSoon.ToLocalTime()"
            min="@DateTime.Now.ToLocalTime().ToString("yyyy-MM-ddTHH:mm")"
            readonly/></p>
    <p>На каком участке находится<input value="@Model.Region?.Name" readonly/></p>
    <p>Выбранный размер<input value="@Model.Size" readonly/></p>
    <p>Маршрут
        <select asp-for="@Model.RouteId" required>
            <option value="@Model.RouteId">@Model.Route.GetContent</option>
            @foreach(var r in (ViewBag.Routes as List<Route>)!)
            {
                double time = r.GetTimeToEndDowntime();
                if (time == 0)
                {
                    <option value="@r.Id" style="background-color:lime">@r.GetContent</option>
                }
                else if (double.IsInfinity(time))
                {
                    <option value="@r.Id" style="background-color:orangered">@r.GetContent</option>
                }
                else
                {
                    <option value="@r.Id" style="background-color:red">@r.GetContent</option>
                }
            }
        </select></p>
</form>
@section Scripts {
    <script>
    </script>
}