@using Diamond.Models.Orders
@model Order
@{
    ViewData["Title"] = $"Добавление заявки";
}

<form method="post">
    <input type="submit" value="Сохранить"/>

    <p>Заказчик<input type="text" asp-for="@Model.Customer" required /></p>
    <p>Дата желаемого выполнения заявки<input type="date" asp-for="@Model.DateOfDesiredComplete" required/></p>
    <p>Товар<select asp-for="@Model.OrderParts[0].PackageId" asp-items="@(new SelectList(ViewBag.Products, "Id", "GetNameAndCount"))" required></select></p>
    <p>Количество<input type="number" asp-for="@Model.OrderParts[0].Count" value="5" min="1" required/></p>
</form>