@using Diamond.Models.Orders
@using Diamond.Models.Factory
@model Order
@{
    ViewData["Title"] = $"Рассмотрение заявки";
}

<form method="post">
    <div>
        <button onclick="location.href='@Url.Action("List", "Order")'" formmethod="get">Назад</button>
        @if(Model.Status == OrderStatus.ANALYZE){
            <input type="submit" value="Сохранить"/>
        }
    </div>

    <p>Номер заявки<input type="number" asp-for="@Model.Id" value="@Model.Id" readonly/></p>
    <p>Дата желаемого выполнения заявки<input type="text" value="@Model.DateOfDesiredComplete.ToString("dd.MM.yyyy")" readonly/></p>
    <p>Товар<input type="text" value="@(Model.OrderParts[0].Product.GetNameAndCount)" readonly /></p>
    <p>Количество<input type="number" value="@Model.OrderParts[0].Count" readonly/></p>

    <p>Завод
        @if (Model.Status != OrderStatus.ANALYZE) {
            <input type="text" value="@Model.Factory!.Name" readonly/>
        } else {
            <select asp-for="FactoryId" required>
                @if ((List<Factory>)ViewBag.Factories != null)
                    @foreach (var factory in (List<Factory>)ViewBag.Factories)
                    {
                        <option value="@factory.Id">@factory.Name</option>
                    }
            </select>
        }
    </p>
</form>