@using Diamond.Models.Products
@model Package
@{
    ViewData["Title"] = $"Добавление разновидности для \"{Model.ProductGroup.Name}\"";
}

<form method="post">
    <h1>@Model.ProductGroup.Name</h1>
    <div>
        <input type="submit" asp-controller="Product" asp-action="ListSpecific" asp-route-groupId="@Model.ProductGroup.Id" value="Назад" formnovalidate/>
        <input type="submit" value="Добавить"/>
    </div>
    <input type="number" asp-for="@Model.ProductId" value="@Model.ProductGroup.Id" hidden />
    <p>Размер (гр.)<input asp-for="@Model.Size" type="number" min="1" value="1" required/></p>
    <p>Цена (руб.)<input asp-for="@Model.Price" type="number" min="1" value="1" required/></p>
</form>