@model MyCompany.Product
@{
    ViewData["Title"] = "Добавление продукции";
}

<form>
    <input type="submit" value="Добавить" asp-controller="Product" asp-action="Add" asp-route-material="@Model" />
    <p>Название<input asp-for="@Model.Name" type="text" required/></p>
    <p>Размер (гр.)<input asp-for="@Model.Size" type="number" required/></p>
    <p>Цена (руб.)<input asp-for="@Model.Price" type="number" required/></p>

    <p>На каком сырье производится<select asp-for="@Model.MaterialId" asp-items="@(new SelectList((List<Material>)ViewBag.materials, "Id", "Name"))" required></select></p>
</form>