@model Diamond.Models.ProductGroup
@{
    ViewData["Title"] = $"Продукция \"{Model.Name}\"";
}

<form method="post">
    <input type="submit" value="Сохранить"/>
    <p>Номер<input asp-for="@Model.Id" type="number" value="@Model.Id" readonly/></p>
    <p>Название<input asp-for="@Model.Name" type="text" required/></p>

    <p>На каком сырье производится<select asp-for="@Model.MaterialId" required>
        @foreach (var m in ((List<Material>)ViewBag.materials))
        {
            if (Model.MaterialId == m.Id)
            {
                <option value="@m.Id" selected>@m.Name</option>
            }
            else
            {
                <option value="@m.Id">@m.Name</option>
            }
        }
    </select></p>
</form>