@model Diamond.Models.ProductSpecific
@{
    ViewData["Title"] = $"Продукция \"{Model.ProductGroup.Name}\"";
}

<form method="post">
    <input type="submit" value="Сохранить"/>
    <input type="number" value="@Model.ProductGroupId" asp-for="@Model.ProductGroupId" hidden/>
    <p>Номер<input asp-for="@Model.Id" type="number" value="@Model.Id" readonly/></p>
    <p>Размер (гр.)<input asp-for="@Model.Size" type="number" value="@Model.Size" required/></p>
    <p>Цена (руб.)<input asp-for="@Model.Price" type="number" value="@Model.Price" required/></p>
</form>