@using Diamond.Models.Products
@model List<ProductGroup>
@{
    ViewData["Title"] = "Список продукции";
}

<h1>Список продукции</h1>
<input type="button" onclick="location.href='@Url.Action("CreateGroup", "Product")'" value="Добавить продукцию" />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>№</th>
            <th>Название</th>
            <th>На чём производится</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material.Name)
            </td>
            <td>
                <a asp-action="EditGroup" asp-route-id="@item.Id" class="btn btn-primary">Редактировать</a>
                <a asp-action="ListSpecific" asp-route-groupId="@item.Id" class="btn btn-primary">Типы упаковок</a>
                <a asp-action="DeleteGroup" asp-route-id="@item.Id" class="btn btn-danger"
                       onclick="javascript:return confirm('Вы уверены, что хотите удалить данный элемент (@item.Name)?');">Удалить</a>
            </td>
        </tr>
    }
    </tbody>
</table>