@model Diamond.Models.ProductGroup
@{
    ViewData["Title"] = $"Разновидности \"{Model.Name}\"";
}

<input type="button" onclick="location.href='@Url.Action("CreateSpecific", "Product", new{groupId = Model.Id})'" value="Добавить" />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>№</th>
            <th>Размер (гр.)</th>
            <th>Цена (руб.)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProductsSpecific) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="EditSpecific" asp-route-productId="@item.Id">Редактировать |</a>
                    <a asp-action="DeleteSpecific" asp-route-productId="@Model.Id" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>