@model List<Diamond.Models.ProductGroup>
@{
    ViewData["Title"] = "Список продукции";
}

<input type="button" onclick="location.href='@Url.Action("CreateGroup", "Product")'" value="Добавить продукцию" />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>№</th>
            <th>Название</th>
            <th>На чём производится</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material.Name)
            </td>
            <td>
                <a asp-action="EditGroup" asp-route-id="@item.Id">Редактировать |</a>
                <a asp-action="ListSpecific" asp-route-groupId="@item.Id">Подробнее |</a>
                <a asp-action="DeleteGroup" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
    }
    </tbody>
</table>