@using Diamond.Models.Materials
@model Material
@{
    ViewData["Title"] = $"Сырьё \"{Model.Name}\"";
}

<form>
    <div>
        <input type="submit" asp-controller="Material" asp-action="List" value="Назад" formnovalidate/>
        <input type="submit" asp-controller="Material" asp-action="Update" asp-route-material="@Model" value="Сохранить"/>
    </div>
    <p>Номер<input type="number" asp-for="@Model.Id" value="@Model.Id" readonly/></p>
    <p>Название<input type="text" asp-for="@Model.Name" value="@Model.Name" required/></p>
</form>