@using Diamond.Models.Materials
@model IEnumerable<Material>
@{
    ViewData["Title"] = "Список сырья";
}

<input type="button" onclick="location.href='@Url.Action("Create", "Material")'" value="Добавить сырьё" />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>№</th>
            <th>Название</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-primary">Редактировать</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Удалить</a>
                </td>
            </tr>
    }
    </tbody>
</table>