@using Diamond.Models.Materials
@model IEnumerable<Technology>
@{
    ViewData["Title"] = "Список технологий";
}

<input type="button" onclick="location.href='@Url.Action("Create", "Technology")'" value="Добавить тип технологии" />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>№</th>
            <th>Название</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.OrderBy(t=>t.Id)) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-primary">Редактировать</a>
                    <a asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-danger">Удалить</a>
                </td>
            </tr>
    }
    </tbody>
</table>