@using Diamond.Models.Factory
@using Diamond.Models.Materials
@using Diamond.Models.Products
@model Factory
@{
    ViewData["Title"] = $"Завод \"{Model.Name}\"";
}

<form>
    <h1>@Model.Name</h1>
    <div>
        <input type="submit" value="Назад" asp-controller="Factory" asp-action="List" formnovalidate/>
        <input type="submit" value="Сохранить" asp-controller="Factory" asp-action="Update" asp-route-factory="@Model"/>
        <input type="submit" value="Удалить" asp-controller="Factory" asp-action="Delete" asp-route-Id="@Model.Id" formnovalidate
        onclick="javascript:return confirm('Вы уверены, что хотите удалить данный элемент (@($"Завод {Model.Name}"))?');">
        <input type="submit" value="Добавить участок" asp-controller="Region" asp-action="Create" asp-route-Factory="@Model" formnovalidate/>
        <input type="submit" value="Обновить маршруты" asp-action="UpdateAllRoutes" asp-route-id="@Model.Id" formnovalidate />
        @* <input type="submit" value="Маршруты" asp-controller="Route" asp-action="List" asp-route-Id="@Model.Id" /> *@
        @if (Model.Plan.FirstOrDefault(p=>p.Status == PartStatus.AWAIT_CONFIRMATION || p.Status == PartStatus.STOP) != null){
            <input class="btn btn-danger" type="submit" value="Планирование" asp-controller="Part" asp-action="List" asp-route-Id="@Model.Id" formnovalidate/>
        }
        else
        {
            <input type="submit" value="Планирование" asp-controller="Part" asp-action="List" asp-route-Id="@Model.Id" formnovalidate />
        }
    </div>

    <p>Номер завода<input name="Id" asp-for="Id" value="@Model.Id" readonly></p>
    <p>Название завода<input name="Name" value="@Model.Name"></p>

    @if (Model.Regions.Count > 0)
    {
        <footer class="border-top footer" />
        <h1>Список участков</h1>
        <table class="table table-bordered">
            <tr>
                <td>Название</td>
                <td>Тип участка</td>
                <td>Статус</td>
                <td></td>
            </tr>
            @foreach(var Region in Model.Regions.OrderBy(r=>r.Id)) {
                <tr>
                    <td>@Region.Name</td>
                    <td>@Region.Type</td>
                    <td>@Html.DisplayFor(f => f.Regions!.First(r => r.Id == Region.Id).Status)</td>
                    <td>
                        <a asp-controller="Region" asp-action="Edit" 
                        asp-route-id="@Region.Id" 
                        class="btn btn-primary">Подробнее</a>
                        @if (Region.Downtime != null)
                        {
                            if (Region.Downtime.DowntimeFinish != null)
                            {
                                <a asp-controller="Downtime" asp-action="Edit"
                                asp-route-Id="@Region.Downtime.Id"
                                class="btn btn-warning">Управление простаиванием</a>
                            }
                            else
                            {
                                <a asp-controller="Downtime" asp-action="Edit"
                                asp-route-Id="@Region.Downtime.Id"
                                class="btn btn-danger">Управление простаиванием</a>
                            }
                        }
                        <a asp-controller="Factory" asp-action="DeleteRegion"
                        asp-route-ModelId="@Model.Id" asp-route-RegionId="@Region.Id"
                        class="btn btn-danger"
                        onclick="javascript:return confirm('Вы уверены, что хотите удалить данный элемент (@Region.Name)?');">Удалить</a>
                        <a asp-controller="Factory" asp-action="SetDowntime"
                        asp-route-RegionId="@Region.Id"
                        class="btn btn-warning">Сломать (отладка)</a>
                    </td>
                </tr>
            }
        </table>
    }

    @if (Model.Routes.Count > 0)
    {
        <footer class="border-top footer" />
        <h1>Список маршрутов</h1>
        <table class="table table-bordered">
            <tr>
                <td>Название</td>
                <td>Маршрут</td>
                <td>Какую продукцию может произвести</td>
                <td>Мощность маршрута под каждое сырьё (гр/час)</td>
                <td>Максимальная вместимость сырья в партии(гр.)</td>
                <td>Количество простаивающих участков</td>
            </tr>
            @foreach (var Route in Model.Routes)
            {
                List<Material> materials = Route.GetAcceptableMaterials();
                string MaxVolume = "";
                if (materials.Count > 0)
                {
                    foreach (var m in materials)
                    {
                        MaxVolume += $" | {m.Name} - {Route.GetMaxVolumeSizeMaterial(m.Id)}";
                    }
                    MaxVolume = MaxVolume.Remove(0, 3);
                }
                <tr>
                    <td>@Route.Name</td>
                    <td>@Route.GetContent</td>
                    <td>@ProductGroup.ToString(Route.GetAvailableProducts())</td>
                    <td>@MaterialForRegion.ToString(Route.GetMaxPowerOnMaterial())</td>
                    <td>@MaxVolume</td>
                    <td>@Route.GetDowntimeCount()</td>
                </tr>
            }
        </table>
    }

    @if (Model.Orders.Count > 0)
    {
        <footer class="border-top footer"/>
        <h1>Список заказов</h1>
        <table class="table table-bordered">
            <tr>
                <td>№</td>
                <td>Содержимое</td>
                <td>Желаемая дата выполнения</td>
            </tr>
            @foreach (var order in Model.Orders)
            {
                string content = "";
                if (order.OrderParts.Count > 0)
                {
                    foreach (var op in order.OrderParts)
                    {
                        content += $"{op.Product.ProductGroup.Name} {op.Product.Size} гр. - {op.Count}шт., ";
                    }
                    content = content.Remove(content.Length - 2);
                }
                <tr>
                    <td>@order.Id</td>
                    <td>@content</td>
                    <td>@order.DateOfDesiredComplete.ToString("dd.MM.yyyy")</td>
                </tr>
            }
        </table>
    }
</form>