@model Factory
@{
    ViewData["Title"] = $"Завод \"{Model.Name}\"";
}

<form>
    <div>
        <input type="submit" value="Сохранить" asp-controller="Factory" asp-action="Update" asp-route-factory="@Model"/>
        <input type="submit" value="Удалить" asp-controller="Factory" asp-action="Delete" asp-route-Id="@Model.Id">
        <input type="submit" value="Добавить участок" asp-controller="Region" asp-action="Create" asp-route-Factory="@Model"/>
        <input type="submit" value="Настроить маршруты"/>
    </div>
    
    <p>Номер завода<input name="Id" value="@Model.Id" readonly></p>
    <p>Название завода<input name="Name" value="@Model.Name"></p>
    
    <p>Список участков</p>
    <div>
        @if (Model.Regions != null)
        {
            <table class="table table-bordered">
                <tr>
                    <td>№</td>
                    <td>Название</td>
                    <td>Тип участка</td>
                    <td></td>
                </tr>
                @foreach(var Region in Model.Regions) {
                    <tr>
                        <td>@Region.Id</td>
                        <td>@Region.Name</td>
                        <td>@Html.DisplayFor(m => m.Regions!.First(r => r.Id == Region.Id).Type)</td>
                        <td>
                            <a asp-controller="Region" asp-action="Edit" asp-route-Id="@Region.Id">Редактировать</a>
                            <a asp-controller="Factory" asp-action="DeleteRegion" asp-route-ModelId="@Model.Id" asp-route-RegionId="@Region.Id">Удалить</a>
                        </td>
                    </tr>
                }
            </table>
        }
    </div>

    <p>Список маршрутов</p>
    <div>
        @if (Model.Routes != null)
        {
            <table class="table table-bordered">
                <tr>
                    <td>№</td>
                    <td>Название</td>
                    <td>Мощность</td>
                    <td></td>
                </tr>
                @foreach (var Route in Model.Routes)
                {
                    <tr>
                        <td>@Route.Id</td>
                        <td>@Route.Name</td>
                        <td>@Route.MaxPower</td>
                        <td>
                            <a asp-controller="Route" asp-action="Detail" asp-route-Id="@Route.Id">Подробнее</a>
                            <a asp-controller="Route" asp-action="Delete" asp-route-Id="@Route.Id">Удалить</a>
                        </td>
                    </tr>
                }
            </table>
        }
    </div>

    <p>Список заказов</p>
    <div>
        @if (Model.Requests != null)
        {
            <table class="table table-bordered">
                <tr>
                    <td>№</td>
                    <td>Название</td>
                    <td>Товар</td>
                    <td>Количество</td>
                    <td></td>
                </tr>
                @foreach (var Request in Model.Requests)
                {
                    <tr>
                        <td>@Request.Id</td>
                        <td>@Request.Name</td>
                        <td>@Request.Product.Name</td>
                        <td>@Request.Count</td>
                        <td>
                            <a asp-controller="Request" asp-action="Detail" asp-route-Id="@Request.Id">Подробнее</a>
                            <a asp-controller="Request" asp-action="Delete" asp-route-Id="@Request.Id">Удалить</a>
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</form>