@using Diamond.Models.Factory
@model List<Factory>
@{
    ViewData["Title"] = "Список заводов";
}

<div>
    <button type="button" onclick="location.href='@Url.Action("Create", "Factory")'">Добавить завод</button>
    <h1>Список заводов</h1>
    <table class="table table-bordered">
        <tr>
            <td>№</td>
            <td>Название</td>
            <td></td>
        </tr>
        @foreach(var factory in Model) {
            <tr>
                <td>@factory.Id</td>
                <td>@factory.Name</td>
                <td>
                    <a asp-controller="Factory" asp-action="Edit" asp-route-id="@factory.Id" class="btn btn-primary">Редактировать</a>
                    <a asp-controller="Factory" asp-action="Delete" asp-route-id="@factory.Id" class="btn btn-danger">Удалить</a>
                </td>
            </tr>
        }
    </table>
</div>